* {
    margin: 0;
    padding: 0
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: .3fr .8fr .9fr;
    justify-items: center;
    margin-bottom: 0;
    background-color: #3D9CEA;
}

.sidebar ul,
.sidebar li {
    list-style: none;
}

.sidebar li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 2fr));
    gap: 20px;
    margin-left: 10px;
    margin-right: 20px;
    align-content: space-between;
}

img {
    width: 40px;
    height: 40px;
    justify-self: right;
}

.logo {
    display: grid;
    gap: 20px;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    margin-right: 20px;
    width: 100%;
}

.sidebar div p {
    display: grid;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}

.side-menu-bottom {
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 10px;
    height: 150px;
    box-shadow: 5px 10px 30px lightgray;
}

.header ul,
.header li {
    list-style: none;
}

.search {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    justify-items: center;
    align-content: center;
}

#magnify {
    height: 30px;
    width: 30px;
    justify-self: right;
}

#name-search {
    width: 400px;
}

.right-name {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-content: center;
}

.main-name {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 2fr;
}

.user-name {
    font-weight: bold;
    font-size: 25px;
}

.menu {
    display: grid;
    align-content: center;
}

.menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

.menu-item {
    text-decoration: none;
    color: white;
}

a {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
}

.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.card-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.card {
    display: grid;
    justify-items: center;
    align-content: center;
    border: solid 2px orange;
}

.right-main-bar {
    grid-column: 2 / 3;
    display: grid;
    grid-row: 1fr 1fr;
}

.announcement-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    justify-items: center;
    align-content: center;
    border: solid black 2px;
    box-shadow: 5px 3px 3px #94a3b8;
}

.announcement-item {
    display: grid;
    box-shadow: 3px 3px 3px #94a3b8;
    margin: 15px;
    padding: 10px;
    width: 70%;
}

.announcement-item .title {
    font-weight: bold;
}

.trending-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    justify-items: center;
    align-content: center;
    margin-top: 30px;
    border: solid 2px purple;
    box-shadow: 5px 3px 3px #94a3b8;
}

.trending-item {
    display: grid;
    margin: 15px;
    padding: 20px;
    box-shadow: 3px 3px 3px #94a3b8;
    width: 70%;
}